:root{
    --footer: 9rem;
    --footer_color: var(--A3);
}
.footer{
    height: var(--footer);    width: 100%;
    background-color: var(--footer_color);
    display: flex; justify-content: space-evenly;
    padding-bottom: 10rem;
}
.footer_part{
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: var(--footer);
}
.footer_body{
    display: flex;    flex-flow: row;
    flex: 1;
    align-items: center;
    justify-content: space-evenly;
}
.footer_title{
    flex: 1; display: flex; justify-content: center;
    padding: 1% 0; font-size: 2rem;
    border-bottom: 3px solid var(--A1);
    font-weight: 800;
    color: var(--A5);
}
.footer_body>a{
    display: flex;
    justify-content: center; align-items: center;
}
.footer_part:nth-of-type(2)>.footer_body>a{
    max-height: inherit;
}
.footer_part:nth-of-type(2) a{
    font-size: 1.4rem;
    font-weight: 400;
    padding: 0 1rem;
    min-width: 40%;
    word-break: break-all;
}
.footer_body>a>img{
    width: 4rem;
}
#footer_right{
    width: 40rem;
}
#footer_left{
    width: 30rem;
}