:root{
    --nav: 6rem;
    --nav_color: var(--C1);
    --nav_width: 100%;

}
.nav_holder{
    height: var(--nav); 
    background: var(--nav_color); 
    width: var(--nav_width);
}
.navigation{
    height: var(--nav); 
    background: var(--nav_color); 
    width: var(--nav_width);

    position: fixed; display: flex; 
    background: var(--A5);
    justify-content: space-evenly;
}
.nav_sec{
    display: flex;   
    align-items: center; justify-content: center;
}
.nav_btn{
    min-width: fit-content; height: 80%; padding: 2em;
    display: flex; align-items: center; justify-content: center;
    border-radius: 0.5em; background: var(--A4);
}
.nav_text{
    font-weight: 500; letter-spacing: 0.1em;
    font-size: 2rem; color: var(--A2);
}